<div class="accountbg"></div>
<div class="wrapper-page">
    <div class="card">
    <div class="card-block">
        <h3 class="text-center m-0"> <a href="index.html" class="logo logo-admin"><img src="images/logo1.png" height="80" alt="logo"></a></h3>
        <div class="p-3">
            <h4 class="text-muted font-18 m-b-5 text-center">Ingreso al Sistema</h4>                  
            <form name="formlogin" id="formlogin" class="form-horizontal m-t-30" action="procesar_login.php" >
                <div class="form-group" ng-class="{'has-error': formlogin.username.$invalid}">
                    <label for="username">Usuario</label> 
                    <input type="text" ng-model="username" name="username" id="username" class="form-control" placeholder="Ingrese su Nick" ng-required="true" />
                </div>
                <div class="form-group"> 
                    <label for="userpassword">Contraseña</label> 
                    <input type="password" ng-model="userpassw" name="userpassw" id="userpassw" class="form-control" placeholder="Ingrese su Contraseña" ng-disabled="formlogin.username.$invalid" />
                </div>
                <div class="form-group row m-t-20">
                <div class="col-sm-6"> 
                    <label class="custom-control mt-2 custom-checkbox mb-2 mr-sm-2 mb-sm-0"> 
                        <input type="checkbox" class="custom-control-input" checked> 
                        <span class="custom-control-indicator"></span> 
                        <span class="custom-control-description">Recuérdame</span> 
                    </label>
                </div>
                <div class="col-sm-6 text-right"> 
                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit" ng-disabled="formlogin.$invalid" >Ingresar</button>
                </div>
                </div>
                <div class="form-group m-t-10 mb-0 row">
                <div class="col-12 m-t-20"> 
                    <a href="remember.php" class="text-muted"><i class="mdi mdi-lock "></i> Olvidaste tu contraseña?</a>
                </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    <div class="m-t-40 text-center">            
        <p class="text-white">© 2018  <i class="mdi mdi-ghost text-danger"></i> &#80;&#115;&#68;&#115; -CETIC</p>
    </div>
</div>