<?php
require_once('menu.php');
$consulta = "SELECT * FROM padrongh WHERE 1";
$resultado = $conexion -> query($consulta);
?>
<div class="wrapper">
 <div class="container">
    <div class="row">
       <div class="col-sm-12">
          <div class="page-title-box">
             <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                   <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                   <li class="breadcrumb-item active">Ficha SocioEconómica</li>
                   <li class="breadcrumb-item active">
                   		<a name="btneliminar" class="btn btn-primary btn-sm get-code" href="fichasocioeconomica_mostrar.php" style="color: white;"><i class="fa fa-plus-circle" title="Listar Usuarios" data-toggle="tooltip"> Listar Registros</i></a>
               		</li>
                </ol>
             </div>
             <h4 class="page-title">Registrar Nueva Ficha SocioEconómica</h4>
          </div>
       </div>
    </div>
    <div class="row">
      <!-- Primera Columna -->
      <div class="col-12">
        <form name="formpadronhogar" id="formpadronhogar" action="./api/padronhogar.php" onsubmit="return false;" method="POST">    
          <div class="card m-b-20">
            <div class="card-block">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="num_pgh" class="control-label"># Planilla</label>
                    <input type="text" class="form-control" name="num_pgh" id="num_pgh" placeholder="# Planilla" />
                  </div>
                </div>
              </div>            
            </div>
            <div class="card-block">
              <h4 class="mt-0 header-title">I. LOCALIZACION DE LA VIVIENDA</h4>
              <hr>UBICACIÓN GEOGRÁFICA<br><br>
                <div class="form-group row">
                  <label for="example-number-input" class="col-sm-3 col-form-label">Ubigeo</label>
                  <div class="col-sm-9">
                    <input type="hidden" name="id_pgh" id="id_pgh" value="" />
                    <select class="form-control select3" style="width: 100%;" name="Id_ubi">
                      <?php                    
                      $consultaUbi = "SELECT * FROM ubigeo";
                      $resultadoUbi = $conexion -> query($consultaUbi);
                      if ($resultadoUbi->num_rows > 0){ //si la variable tiene al menos 1 fila entonces seguimos con el codigo
                        while ($resulUbi=$resultadoUbi->fetch_array(MYSQLI_BOTH)){
                          $varUbi=$resulUbi['depto'] . "  " . $resulUbi['prov'] . " / " . $resulUbi['distri'];
                          echo "<option value='".$varUbi."'> ". $varUbi."</option>"; 
                        }
                      }else{
                        echo "No hubo resultados";
                      }
                      ?>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-sm-3 col-form-label">Centro Poblado</label>
                    <div class="col-sm-9">  
                    <input type="text" name="desc_centpob" id="pass2" class="form-control" placeholder="Centro Poblado" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-sm-3 col-form-label">Código Centro Poblado</label>
                    <div class="col-sm-9">  
                    <input type="text" name="cod_centpob" class="form-control" placeholder="Código de Centro Poblado" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Categoría Centro Poblado</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="cat_centpob" class="form-control" placeholder="Categoría de Centro Poblado" />
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Núcleo Urbano</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="desc_nucleourb" class="form-control" placeholder="Nucleo Urbano" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Categoría Núcleo Urbano</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="cat_nucleourb" class="form-control " placeholder="Categoría de Núcleo Urbano"/>
                    </div>
                </div>
                <hr>UBICACIÓN CENSAL<br><br>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Cong. N°</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="cong_ubicens" class="form-control"  placeholder="Cong. N°" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Zona. N°</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="zona_ubicens" id="zona_ubicens" class="form-control" placeholder="Número de zona" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Manzana. N°</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="mz_ubicens" class="form-control"  placeholder="Numero manzana" />
                    </div>
                </div>	
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >N° Frente de Manzana</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="numfrentemz_ubicens" class="form-control"  placeholder="Numero frente de manzana" />
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Vivienda N°</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="numvivienda_ubicens" class="form-control"  placeholder="Numero Viviendda" />
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Cuantos hogares habitan en esta vivienda</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="canthogar_ubicens" class="form-control"  placeholder="Hogares" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Hogar. N°</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="numhogar_ubicens" class="form-control"  placeholder="Numero de hogar" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Apellidos y Nombres del Informante:</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="apelnombinform_ubicens" class="form-control"  placeholder="Apellidos y Nombres del Informante" />
                    </div>
                </div> 
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >N° Orden</label>
                  <div class="col-sm-9"> 
                    <input type="text" name="num_ubicens" class="form-control"  placeholder="Número de Orden" />
                  </div>
                </div>  
                <label>Dirección de la vivienda</label><br>         	                        
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Tipo de Via</label>
                    <div class="col-sm-9">
                      <select class="custom-select " name="desc_tv">
                      <?php                    
                          $consultades = "SELECT * FROM tipovia";
                          $resultadodes= $conexion -> query($consultades);
                          if ($resultadodes->num_rows > 0){ //si la variable tiene al menos 1 fila entonces seguimos con el codigo
                            while ($resuldes=$resultadodes->fetch_array(MYSQLI_BOTH)){
                              $varUbi=$resuldes['desc_tv'];
                              echo "<option value='".$varUbi."'> ". $varUbi."</option>"; 
                            }
                          }else{ echo "No hubo resultados"; }
                      ?>
                      </select>
                </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Nombre de la Via</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="nombrevia_ubicens" class="form-control"  placeholder="Nombre de la Via" />
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >N° Puerta</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="numpuerta_ubicens" class="form-control"  placeholder="Numero de Puerta" />
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Block</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="block_ubicens" class="form-control"  placeholder="Block" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Piso</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="piso_ubicens" class="form-control"  placeholder="Piso" />
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Interior</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="interior_ubicens" class="form-control"  placeholder="Interior" />
                    </div>
                </div>  
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Manzana</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="manzana_ubicens" class="form-control"  placeholder="Manzana " />
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Lote</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="lote_ubicens" class="form-control"  placeholder="Lote" />
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >KM.</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="km_ubicens" class="form-control"  placeholder="Kilometro" />
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Telefono Domicilio:</label>
                    <div class="col-sm-9"> 
                      <input type="text" name="telefono_ubicens" class="form-control"  placeholder="Telefono Domicilio" />
                    </div>
                </div> 
                <hr>PERSONAL RESPONSABLE<br><br>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Apellidos y Nombres del Empadronador</label>
                  <div class="col-sm-9"> 
                    <input type="text" name="apelnom_empad_persresp" class="form-control"  placeholder="Apellidos y nombres del empadronador" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >DNI del Empadronador</label>
                  <div class="col-sm-9"> 
                    <input type="text" name="dninom_empad_persresp" class="form-control"  placeholder="DNI del empadronador" />
                  </div>
                </div>  
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Reside permanentemente en la vivienda empadronada?</label>
                  <div class="col-sm-9">
                    <select class="custom-select" name="reside_inform"><option value="si">SI</option><option value="no">No</option></select>
                  </div>
                </div> 
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Números de pisos o viviendas </label>
                    <div class="col-sm-9"> 
                      <input type="text" name="numpisos_inform" class="form-control"  placeholder="Número d episos" />
                    </div>
                </div> 
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Color de frontis de la vivienda</label>
                  <div class="col-sm-9"> 
                    <input type="text" name="colorfrontis_inform" class="form-control"  placeholder="Color de frontis de vivienda" />
                  </div>
                </div> 
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Se obtuvo la firma del informante  </label>
                  <div class="col-sm-9"> 
                    <select name="firma_inform" class="custom-select">
                      <option value="SI">SI</option>
                      <option value="NO">NO</option>
                  </select>
                  </div>
                </div> 
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Si es no indicar la causa </label>
                  <div class="col-sm-9"> 
                    <input type="text" name="nofirma_inform" class="form-control"  placeholder="Indicar la causa" />
                  </div>
                </div> 
                <hr><h4 class="mt-0 header-title">II. ENTREVISTA Y SUPERVISIÓN</h4>
                <label>Visita del Empadronador</label>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Fecha de visita 1</label>
                    <div class="col-sm-9"> 
                      <input type="date" name="fechvisit1_emp" class="form-control"  placeholder="Indicar la causa" />
                    </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Resultado de visita 1 </label>
                  <div class="col-sm-9"> 
                    <select class="custom-select" name="desc_rsv1">
                    <?php                    
                      $consultavisita= "SELECT * FROM resvisita";
                      $resultadovisita= $conexion -> query($consultavisita);
                      if ($resultadovisita->num_rows > 0){ //si la variable tiene al menos 1 fila entonces seguimos con el codigo
                        while ($resulvisita=$resultadovisita->fetch_array(MYSQLI_BOTH)){
                          $varvisita=$resulvisita['desc_rsv'];
                          echo "<option value='".$varvisita."'> ". $varvisita."</option>"; 
                        }
                      }else{ echo "No hubo resultados"; }
                    ?>
                    </select>
                  </div>
                </div> 
                <label>Visita del Empadronador</label>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Fecha de visita 2</label>
                    <div class="col-sm-9"> 
                      <input type="date" name="fechvisit2_emp" class="form-control"   />
                    </div>
                </div>                          
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Resultado de visita 2 </label>
                  <div class="col-sm-9"> 
                    <select class="custom-select " name="desc_rsv2">
                    <?php                    
                      $consultavisita= "SELECT * FROM resvisita";
                      $resultadovisita= $conexion->query($consultavisita);
                      if ($resultadovisita->num_rows > 0){//si la variable tiene al menos 1 fila entonces seguimos con el codigo
                        while ($resulvisita=$resultadovisita->fetch_array(MYSQLI_BOTH)){
                          $varvisita=$resulvisita['desc_rsv'];
                          echo "<option value='".$resulvisita['id_rsv']."'> ". $varvisita."</option>"; 
                        }
                      }else{ echo "No hubo resultados"; }
                    ?>
                    </select>
                  </div>
                </div> 
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Fecha de visita 3</label>
                  <div class="col-sm-9"> 
                    <input type="date" name="fechvisit3_emp" class="form-control" />
                  </div>
                </div> 
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Resultado de visita 3 </label>
                  <div class="col-sm-9">
                    <select class="custom-select " name="desc_rsv3">
                    <?php
                      $consultavisita= "SELECT * FROM resvisita";
                      $resultadovisita= $conexion -> query($consultavisita);
                      if ($resultadovisita->num_rows > 0){//si la variable tiene al menos 1 fila entonces seguimos con el codigo
                        while ($resulvisita=$resultadovisita->fetch_array(MYSQLI_BOTH)){
                          $varvisita=$resulvisita['desc_rsv'];
                          echo "<option value='".$resulvisita['id_rsv']."'> ". $varvisita."</option>"; 
                        }
                      }else{echo "No hubo resultados";}
                    ?>
                    </select>
                  </div>
                </div> 
                <label>Resultado final de Empadronamiento</label>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Fecha</label>
                  <div class="col-sm-9"> 
                    <input type="date" name="fechresfinal_emp" class="form-control"   />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Resultado </label>
                  <div class="col-sm-9"> 
                    <input type="text" name="desc_rsvf" class="form-control"  placeholder="Resultado final" />
                  </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Otro resultado </label>
                    <div class="col-sm-9"> 
                      <input type="text" name="otroresfinal_emp" class="form-control"  placeholder="Resultado final" />
                    </div>
                </div>
                <hr><h4 class="mt-0 header-title">III. CARACTERISTICAS DE LA VIVIENDA</h4><br>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Tipo de vivienda </label>
                  <div class="col-sm-9"> 
                      <select class="custom-select" name="id_tipovivienda">
                      <?php
                      $consulta= "SELECT * FROM tipovivienda";
                      $resultado= $conexion -> query($consulta);
                      if ($resultado->num_rows > 0){//si la variable tiene al menos 1 fila entonces seguimos con el codigo
                        while ($resul=$resultado->fetch_array(MYSQLI_BOTH)){
                          echo "<option value='".$resul['desc_tipv']."'> ".$resul['desc_tipv']."</option>"; 
                        }
                      }else{
                        echo "No hubo resultados";
                      }
                      ?>
                      </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Otro (Especifique) </label>
                  <div class="col-sm-9"> 
                    <input type="text" name="otrovivnd_viv" class="form-control"  placeholder="Otro (Especifique)" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Su vivienda es </label>
                  <div class="col-sm-9"> 
                    <select class="custom-select" name="id_ves">
                    <?php                    
                      $consulta= "SELECT * FROM viviendaes";
                      $resultado= $conexion -> query($consulta);
                      if ($resultado->num_rows > 0){//si la variable tiene al menos 1 fila entonces seguimos con el codigo
                        while ($resul=$resultado->fetch_array(MYSQLI_BOTH)){
                          $var=$resul['desc_ves'];
                          echo "<option value='".$var."'> ". $var."</option>"; 
                        }
                      }else{ echo "No hubo resultados"; }
                    ?>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Otro (Especifique) </label>
                    <div class="col-sm-9"> 
                      <input type="text" name="espec_vivienda_es" class="form-control"  placeholder="Otro (Especifique)" />
                    </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >El material predominante en las paredes es de: </label>
                  <div class="col-sm-9"> 
                    <select class="custom-select " name="id_matv">
                    <?php                    
                      $consulta= "SELECT * FROM materialviv";
                      $resultado= $conexion -> query($consulta);
                      if ($resultado->num_rows > 0){//si la variable tiene al menos 1 fila entonces seguimos con el codigo
                        while ($resul=$resultado->fetch_array(MYSQLI_BOTH)){
                          $var=$resul['desc_matv'];
                          echo "<option value='".$var."'> ". $var."</option>"; 
                        }
                      }else{
                        echo "No hubo resultados";
                      }
                    ?>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Otro (Especifique) </label>
                  <div class="col-sm-9"> 
                    <input type="text" name="otro_mat_vivienda" class="form-control"  placeholder="Otro (Especifique)" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >El material predominante en el techo es de: </label>
                  <div class="col-sm-9"> 
                    <select class="custom-select" name="id_mattch">
                    <?php
                      $consulta= "SELECT * FROM materialtecho";
                      $resultado= $conexion -> query($consulta);
                      if ($resultado->num_rows > 0){//si la variable tiene al menos 1 fila entonces seguimos con el codigo
                        while ($resul=$resultado->fetch_array(MYSQLI_BOTH)) {
                          $var=$resul['desc_mattch'];
                          echo "<option value='".$var."'> ". $var."</option>"; 
                        }
                      }else{
                        echo "No hubo resultados";
                      }
                    ?>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Otro (Especifique) </label>
                    <div class="col-sm-9"> 
                      <input type="text" name="otromatertech_viv" class="form-control"  placeholder="Otro (Especifique)" />
                    </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >El material predominante en los pisos es de: </label>
                  <div class="col-sm-9"> 
                    <select class="custom-select " name="id_matps">
                    <?php
                      $consulta= "SELECT * FROM materialpiso";
                      $resultado= $conexion -> query($consulta);
                      if ($resultado->num_rows > 0){//si la variable tiene al menos 1 fila entonces seguimos con el codigo
                        while ($resul=$resultado->fetch_array(MYSQLI_BOTH)){
                          $var=$resul['desc_matps'];
                          echo "<option value='".$var."'> ". $var."</option>"; 
                        }
                      }else{ echo "No hubo resultados";}
                    ?>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Otro (Especifique) </label>
                  <div class="col-sm-9"> 
                    <input type="text" name="otromaterpiso_viv" class="form-control"  placeholder="Otro (Especifique)" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >¿Cual es el tipo de alumbrado que tiene su vivienda?: </label>
                  <div class="col-sm-9"> 
                    <select class="custom-select " name="id_alum">
                    <?php                    
                        $consulta= "SELECT * FROM alumbrado";
                        $resultado= $conexion -> query($consulta);
                        if ($resultado->num_rows > 0){//si la variable tiene al menos 1 fila entonces seguimos con el codigo
                        while ($resul=$resultado->fetch_array(MYSQLI_BOTH)) {
                          $var=$resul['desc_alum'];
                          echo "<option value='".$var."'> ". $var."</option>"; 
                        }
                      }else{ echo "No hubo resultados"; }
                    ?>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Otro (Especifique) </label>
                    <div class="col-sm-9"> 
                      <input type="text" name="otroalumbr_viv" class="form-control"  placeholder="Otro (Especifique)" />
                    </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >El abastecimiento de agua en su vivienda procede de: </label>
                  <div class="col-sm-9"> 
                    <select class="custom-select " name="id_ag">
                    <?php                    
                      $consulta= "SELECT * FROM agua";
                      $resultado= $conexion -> query($consulta);
                      if ($resultado->num_rows > 0){//si la variable tiene al menos 1 fila entonces seguimos con el codigo
                        while ($resul=$resultado->fetch_array(MYSQLI_BOTH)) {
                          $var=$resul['desc_ag'];
                          echo "<option value='".$var."'> ". $var."</option>"; 
                        }
                      }else{
                        echo "No hubo resultados";
                      }
                    ?>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Otro (Especifique) </label>
                    <div class="col-sm-9"> 
                      <input type="text" name="otroagua_viv" class="form-control"  placeholder="Otro (Especifique)" />
                    </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >El servicio higienico que tiene en su vivienda esta conectado a: </label>
                  <div class="col-sm-9"> 
                    <select class="custom-select " name="id_sh">
                    <?php                    
                      $consulta= "SELECT * FROM sshhviv";
                      $resultado= $conexion -> query($consulta);
                      if ($resultado->num_rows > 0){//si la variable tiene al menos 1 fila entonces seguimos con el codigo
                        while ($resul=$resultado->fetch_array(MYSQLI_BOTH)){
                          $var=$resul['desc_sh'];
                          echo "<option value='".$var."'> ". $var."</option>"; 
                        }
                      }else{ echo "No hubo resultados"; }
                    ?>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label" >Cuantas horas demora en llegar desde su casa a la capital? </label>
                    <div class="col-sm-9"> 
                      <select name="hrsdemora_viv" class="custom-select">
                        <option value="1">Mas de 24 horas</option>
                        <option value="0">Vive en la capital</option>
                      </select>
                    </div>
                </div>
                <hr><h4 class="mt-0 header-title">IV. DATOS DEL HOGAR</h4><br>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Sin contar baño,cocina,pazadizos ni garage ¿Cuántas habitaciones tiene este hogar? </label>
                  <div class="col-sm-9"> 
                    <input type="number" name="habitac_hog" placeholder="Número de habitaciones" class="form-control" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >¿Cuál es el combustible que mas se utiliza en el hogar para cocinar? </label>
                  <div class="col-sm-9"> 
                    <select class="custom-select" name="id_comb">
                    <?php                    
                      $consulta= "SELECT * FROM combustible";
                      $resultado= $conexion -> query($consulta);
                      if ($resultado->num_rows > 0){//si la variable tiene al menos 1 fila entonces seguimos con el codigo
                        while ($resul=$resultado->fetch_array(MYSQLI_BOTH)){
                          $var=$resul['desc_comb'];
                          echo "<option value='".$var."'> ". $var."</option>"; 
                        }
                      }else{
                        echo "No hubo resultados";
                      }
                    ?>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Otro </label>
                  <div class="col-sm-9"> 
                    <input type="text" name="otrocombust_hog" placeholder="Otro(Especifique)" class="form-control" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >¿Su hogar tiene? </label>
                  <div class="col-sm-9"> 
                    <select class="custom-select" name="desc_art[]" multiple="multiple" style="height:65px;">
                    <?php                    
                      $consulta= "SELECT * FROM artefacto";
                      $resultado= $conexion -> query($consulta);
                      if ($resultado->num_rows > 0){//si la variable tiene al menos 1 fila entonces seguimos con el codigo
                        while ($resul=$resultado->fetch_array(MYSQLI_BOTH)){
                          $var=$resul['desc_art'];
                          echo "<option value='".$var."'> ". $var."</option>"; 
                        }
                      }else{ echo "No hubo resultados"; }
                    ?>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Número de subministro</label>
                  <div class="col-sm-3">
                    <select class="form-control" name="tipo_servsuministro" id="tipo_servsuministro">
                      <option value="0">No Posee</option>
                      <option value="1">Agua</option>
                      <option value="2">Electricidad</option>
                    </select>
                  </div>
                  <div class="col-sm-5"> 
                    <input type="number" class="form-control" name="num_servsuministro" placeholder="numero de subministro">
                  </div>
                </div>
                <label>¿Cuantas personas viven permanentemente en este hogar?</label><br>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Hombres</label>
                  <div class="col-sm-9"> 
                    <input type="number" class="form-control" name="numhomb_hog" placeholder="Hombres" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Mujeres</label>
                  <div class="col-sm-9"> 
                    <input type="number" class="form-control" name="nummuje_hog" placeholder="Mujeres" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="example-text-input" class="col-sm-3 col-form-label" >Total</label>
                  <div class="col-sm-9"> 
                    <input type="number" class="form-control" name="numtotal_hog" placeholder="Total" />
                  </div>
                </div>
                <div class="form-group m-b-0" align="center">
                  <button type="reset" class="btn btn-default  waves-effect waves-light" name="btncancel" id="btncancel"> <i class="fa fa-ban"></i> Cancelar</button>
                  <button type="submit" class="btn btn-primary waves-effect waves-light" name="btnregistrar" id="btnregistrar" data-loading-text="<i class='fa fa-spinner fa-pulse fa-fw'></i> Procesando..."><i class="fa fa-user-o"></i> Registrar Usuario </button>
                </div>
            </div>
          </div>
        </form>
      </div>
       <!-- FIN Primera Columna -->

       <!-- Segunda Columna -->
       <!--div class="col-4">
          <div class="card m-b-20">
             <div class="card-block">
                <h4 class="mt-0 header-title">...</h4>
                
             </div>
          </div>
       </div-->
		<!-- FIN Segunda Columna -->
    </div>
 </div>
</div>
<div id="modal_poblacion" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Caracteristicas de la Población</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register_poblacion" aria-selected="true">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="profile" aria-selected="false">Listado</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
            <form id="form_poblacion" name="form_poblacion" action="#" method="get" onsubmit="return false;">
              <div class="row">
                <div class="col-md-6">
                  <label for="apellido_paterno">Apellido Paterno:</label>
                  <input type="hidden" name="id_pgh" id="id_pgh" value="" />
                  <input type="hidden" name="id_carsoc" id="id_carsoc" value="" />
                  <input type="text" class="form-control" name="apellido_paterno" id="apellido_paterno" />
                </div>
                <div class="col-md-6">
                  <label for="apellido_materno">Apellido Materno:</label>
                  <input type="text" class="form-control" name="apellido_materno" id="apellido_materno" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label for="nombres">Nombres</label>
                  <input type="text" class="form-control" name="nombres" id="nombres" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="fec_nacimiento">Fecha de Nacimiento</label>
                  <input type="date" class="form-control" name="fec_nacimiento" id="fec_nacimiento" />
                </div>
                <div class="col-md-4">
                  <label for="edad">Edad</label>
                  <input type="numeric" class="form-control" name="edad" id="edad" readonly="true" />
                </div>
                <div class="col-md-4">
                  <label for="meses">Meses</label>
                  <input type="numeric" class="form-control" name="meses" id="meses" readonly="true" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="tip_documento">Tipo de Documento</label>
                  <select class="custom-select" name="tip_documento" id="tip_documento">
                    <option value="DNI">DNI</option>
                    <option value="Carné. Ex.">Carné. Ex.</option>
                    <option value="Part. Nac. CUI">Part. Nac. CUI</option>
                    <option value="No tiene doc.">No tiene doc.</option>
                  </select>
                </div>
                <div class="col-md-8">
                  <label for="num_documento">Nº Documento</label>
                  <input type="text" class="form-control" name="num_documento" id="num_documento" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label for="id_parentesco">Parent. con el jefe</label>
                  <select name="id_parentesco" id="id_parentesco" class="custom-select">
                      <option value="Jefe">Jefe</option>
                      <option value="Conyuge">Conyuge</option>
                      <option value="Hijo/a">Hijo/a</option>
                      <option value="Yerno/Nuera">Yerno/Nuera</option>
                      <option value="Nieto/a">Nieto/a</option>
                      <option value="Padres/Suegros">Padres/Suegros</option>
                      <option value="Hermano/a">Hermano/a</option>
                      <option value="Trabajador del Hogar">Trabajador del Hogar</option>
                      <option value="Pensionista">Pensionista</option>
                      <option value="Otros parientes">Otros parientes</option>
                      <option value="Otros no parientes">Otros no parientes</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="num_nucleo">Nº Núcleo Familiar</label>
                  <input type="number" class="form-control" name="num_nucleo" id="num_nucleo">
                </div>
                <div class="col-md-2">
                  <label for="sexo">Sexo</label>
                  <select name="sexo" id="sexo" class="form-control">
                    <option value="H">Hombre</option>
                    <option value="M">Mujer</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="">Gestante?</label>
                  <select name="gestante" id="gestante" class="form-control">
                      <option value="No">No</option>
                      <option value="Si">Si</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="edo_civil">Estado Civil</label>
                  <select name="edo_civil" id="edo_civil" class="form-control">
                    <option value="1">Soltero/a</option>
                    <option value="2">Casado/a</option>
                    <option value="3">Conviviente</option>
                    <option value="4">Separado/a</option>
                    <option value="5">Divorciado/a</option>
                    <option value="6">Viudo/a</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label for="tipo_essalud">Que tipo de seguro de salud tiene?</label>
                  <select name="tipo_essalud" id="tipo_essalud" class="form-control">
                    <option value="1">ESsalud</option>
                    <option value="2">FF.A.- P.N.P.</option>
                    <option value="3">Seguro Privado</option>
                    <option value="4">Seguro Integral de Salud (SIS)</option>
                    <option value="5">Otro</option>
                    <option value="6">No tiene</option>
                  </select>
                </div>
              </div>
              <hr><h6>EDUCACIÓN</h6><br/>
              <div class="row">
                <div class="col-md-3">
                  <label for="idioma_natal">Idioma o Lengua que aprendio en su niñez?</label>
                  <select name="idioma_natal" id="idioma_natal" class="form-control">
                    <option value="1">Quechua</option>
                    <option value="2">Aymara</option>
                    <option value="3">Ashaninka</option>
                    <option value="4">Castellano</option>
                    <option value="5">Idioma Extranjero</option>
                    <option value="6">Es sordomudo/a</option>
                    <option value="7">Otro</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="leer_escribir">Sabe leer y escribir?</label>
                  <select name="leer_escribir" id="leer_escribir" class="form-control">
                    <option value="1">Si</option>
                    <option value="0">No</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="nivel_educativo">Nivel Educativo</label>
                  <select name="nivel_educativo" id="nivel_educativo" class="form-control">
                    <option value="1">Ninguno</option>
                    <option value="2">Inicial</option>
                    <option value="3">Primaria</option>
                    <option value="4">Secundaria</option>
                    <option value="5">Superior no universitaria</option>
                    <option value="6">Superior Universitaria</option>
                    <option value="7">Post grado u otro similar</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="ult_grado_cursado">Ult. año/grado estudios aprobado</label>
                  <select name="ult_grado_cursado" id="ult_grado_cursado" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                  </select>                
                </div>
              </div>
              <hr><h6>OCUPACIÓN</h6><br/>
              <div class="row">
                <div class="col-md-6">
                  <label for="ocupacion_antes">En el ult. mes era un...?</label>
                  <select name="ocupacion_antes" id="ocupacion_antes" class="form-control">
                    <option value="1">Trabajador dependiente</option>
                    <option value="2">Trabajador independiente</option>
                    <option value="3">Empleador</option>
                    <option value="4">Trabajador del hogar</option>
                    <option value="5">Trabajador familiar no remunerado</option>
                    <option value="6">Desempleado</option>
                    <option value="7">Dedicado a los que haceres del hogar</option>
                    <option value="8">Estudiante</option>
                    <option value="9">Jubilado</option>
                    <option value="10">Sin actividad</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="sector_ocupacion">Sector en el que se desempeña?</label>
                  <select name="sector_ocupacion" id="sector_ocupacion" class="form-control">
                    <option value="1">Agricola</option>
                    <option value="2">Pecuaria</option>
                    <option value="3">Forestal</option>
                    <option value="4">Pesquera</option>
                    <option value="5">Minera</option>
                    <option value="6">Artesanal</option>
                    <option value="7">Comercial</option>
                    <option value="8">Servicios</option>
                    <option value="9">Otros</option>
                    <option value="10">Estado (Gob)</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="discapacidad">Presenta algun tipo discapac.?</label>
                  <select name="discapacidad" id="discapacidad" class="form-control">
                    <option value="1">Visual parcial o total (problemas para ver aun con lentes/no puede ver)</option>
                    <option value="2">Para oir parcial o total (problemas para oir aun con audifonos/no puede oir)</option>
                    <option value="3">Para hablar parcial o total (dificultad para hablar / no puede hablar)</option>
                    <option value="4">Para usar brazos y manos /piernas y pies</option>
                    <option value="5">Mental o intelectual (dificultades permanentes para entender o para relacionarse con los demas)</option>
                    <option value="6">No tiene discapacidad</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="programa_social">Programas Sociales</label>
                  <select name="programa_social" id="programa_social" class="form-control">
                    <option value="1">Vaso de Leche</option>
                    <option value="2">Comedor popular</option>
                    <option value="3">Desayuno o almuerzo escolar</option>
                    <option value="4">Papilla o "Yapita" (PACFO)</option>
                    <option value="5">Canasta alimentaria (PANFAR)</option>
                    <option value="6">Juntos</option>
                    <option value="7">Techopropio o Mi vivienda</option>
                    <option value="8">Pensi{on 65</option>
                    <option value="9">Cuna Más</option>
                    <option value="10">Otros</option>
                    <option value="11">Ningunos</option>
                  </select>
                  <input type="reset" value="" style="display:none;" />
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
            <table id="table_poblacion" class="display" width="100%">
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-success" id="saved_poblacion" name="saved_poblacion">Guardar</button>
        <button type="button" class="btn btn-secondary" id="reset_poblacion" name="reset_poblacion" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<?php
   require_once('pie2.php');
?>
<script type="text/javascript" language="javascript" src="./assets/js/encuesta.js"></script>
