<div class="navbar-custom">
    <div class="container">
        <div id="navigation">
            <ul class="navigation-menu">
                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-view-dashboard"></i>Inicio</a>
                    <!-- <ul class="submenu">
                        <li><a href="principal.php">Inicio</a></li>
                    </ul> -->
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-desktop-mac"></i>Mantenimiento</a>
                    <ul class="submenu">
                        <li><a href="usuario_mostrar.php">Usuarios</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-buffer"></i>Registro de Datos</a>
                    <ul class="submenu megamenu">
                        <li>
                            <ul>
                            <li><a ui-sref="encuestas-grid">Ficha SocioEconomica</a></li>
                            </ul>
                        </li>
                        <li style="display:none;">
                            <ul>
                                <li><a href="ui-lightbox.html">Lightbox</a></li>
                                <li><a href="ui-navs.html">Navs</a></li>
                                <li><a href="ui-pagination.html">Pagination</a></li>
                                <li><a href="ui-popover-tooltips.html">Popover & Tooltips</a></li>
                                <li><a href="ui-badge.html">Badge</a></li>
                                <li><a href="ui-carousel.html">Carousel</a></li>
                                <li><a href="ui-video.html">Video</a></li>
                                <li><a href="ui-typography.html">Typography</a></li>
                                <li><a href="ui-sweet-alert.html">Sweet-Alert</a></li>
                            </ul>
                        </li>
                        <li style="display:none;">
                            <ul>
                                <li><a href="ui-grid.html">Grid</a></li>
                                <li><a href="ui-animation.html">Animation</a></li>
                                <li><a href="ui-highlight.html">Highlight</a></li>
                                <li><a href="ui-rating.html">Rating</a></li>
                                <li><a href="ui-nestable.html">Nestable</a></li>
                                <li><a href="ui-alertify.html">Alertify</a></li>
                                <li><a href="ui-rangeslider.html">Range Slider</a></li>
                                <li><a href="ui-sessiontimeout.html">Session Timeout</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu" style="display:none;">
                    <a href="#"><i class="mdi mdi-cube-outline"></i>Components</a>
                    <ul class="submenu">
                        <li class="has-submenu">
                            <a href="#">Email</a>
                            <ul class="submenu">
                                <li><a href="email-inbox.html">Inbox</a></li>
                                <li><a href="email-read.html">Email Read</a></li>
                                <li><a href="email-compose.html">Email Compose</a></li>
                            </ul>
                        </li>
                        <li> <a href="widgets.html">Widgets</a></li>
                        <li> <a href="calendar.html">Calendar</a></li>
                        <li class="has-submenu">
                            <a href="#">Forms</a>
                            <ul class="submenu">
                                <li><a href="form-elements.html">Form Elements</a></li>
                                <li><a href="form-validation.html">Form Validation</a></li>
                                <li><a href="form-advanced.html">Form Advanced</a></li>
                                <li><a href="form-wizard.html">Form Wizard</a></li>
                                <li><a href="form-editors.html">Form Editors</a></li>
                                <li><a href="form-uploads.html">Form File Upload</a></li>
                                <li><a href="form-mask.html">Form Mask</a></li>
                                <li><a href="form-summernote.html">Summernote</a></li>
                                <li><a href="form-xeditable.html">Form Xeditable</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Charts</a>
                            <ul class="submenu">
                                <li><a href="charts-morris.html">Morris Chart</a></li>
                                <li><a href="charts-chartist.html">Chartist Chart</a></li>
                                <li><a href="charts-chartjs.html">Chartjs Chart</a></li>
                                <li><a href="charts-flot.html">Flot Chart</a></li>
                                <li><a href="charts-c3.html">C3 Chart</a></li>
                                <li><a href="charts-sparkline.html">Sparkline Chart</a></li>
                                <li><a href="charts-other.html">Jquery Knob Chart</a></li>
                                <li><a href="charts-peity.html">Peity Chart</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Tables</a>
                            <ul class="submenu">
                                <li><a href="tables-basic.html">Basic Tables</a></li>
                                <li><a href="tables-datatable.html">Data Table</a></li>
                                <li><a href="tables-responsive.html">Responsive Table</a></li>
                                <li><a href="tables-editable.html">Editable Table</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Icons</a>
                            <ul class="submenu">
                            <li><a href="icons-material.html">Material Design</a></li>
                            <li><a href="icons-ion.html">Ion Icons</a></li>
                            <li><a href="icons-fontawesome.html">Font Awesome</a></li>
                            <li><a href="icons-themify.html">Themify Icons</a></li>
                            <li><a href="icons-dripicons.html">Dripicons</a></li>
                            <li><a href="icons-typicons.html">Typicons Icons</a></li>
                            <li><a href="icons-weather.html">Weather Icons</a></li>
                            <li><a href="icons-mobirise.html">Mobirise Icons</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Maps</a>
                            <ul class="submenu">
                            <li><a href="maps-google.html"> Google Map</a></li>
                            <li><a href="maps-vector.html"> Vector Map</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Email Templates</a>
                            <ul class="submenu">
                            <li><a href="email-templates-basic.html">Basic Action Email</a></li>
                            <li><a href="email-templates-alert.html">Alert Email</a></li>
                            <li><a href="email-templates-billing.html">Billing Email</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu" style="display:none;">
                    <a href="#"><i class="mdi mdi-google-pages"></i>Pages</a>
                    <ul class="submenu megamenu">
                        <li>
                            <ul>
                            <li><a href="pages-login.html">Login</a></li>
                            <li><a href="pages-register.html">Register</a></li>
                            <li><a href="pages-recoverpw.html">Recover Password</a></li>
                            <li><a href="pages-lock-screen.html">Lock Screen</a></li>
                            <li><a href="pages-login-2.html">Login 2</a></li>
                            <li><a href="pages-register-2.html">Register 2</a></li>
                            <li><a href="pages-recoverpw-2.html">Recover Password 2</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                            <li><a href="pages-lock-screen-2.html">Lock Screen 2</a></li>
                            <li><a href="pages-timeline.html">Timeline</a></li>
                            <li><a href="pages-invoice.html">Invoice</a></li>
                            <li><a href="pages-directory.html">Directory</a></li>
                            <li><a href="pages-blank.html">Blank Page</a></li>
                            <li><a href="pages-404.html">Error 404</a></li>
                            <li><a href="pages-500.html">Error 500</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                            <li><a href="pages-pricing.html">Pricing</a></li>
                            <li><a href="pages-gallery.html">Gallery</a></li>
                            <li><a href="pages-maintenance.html">Maintenance</a></li>
                            <li><a href="pages-coming-soon.html">Coming Soon</a></li>
                            <li><a href="pages-faq.html">FAQ</a></li>
                            <li><a href="pages-contact.html">Contact</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu" style="display:none;">
                    <a href="#"><i class="mdi mdi-cart-outline"></i>Ecommerce</a>
                    <ul class="submenu">
                        <li><a href="ecommerce-product-list.html">Product List</a></li>
                        <li><a href="ecommerce-product-grid.html">Product Grid</a></li>
                        <li><a href="ecommerce-order-history.html">Order History</a></li>
                        <li><a href="ecommerce-customers.html">Customers</a></li>
                        <li><a href="ecommerce-product-edit.html">Product Edit</a></li>
                    </ul>
                </li>
                <li> <a href="#" target="_blank"><i class="mdi mdi-printer"></i>Reporte</a></li>
            </ul>
        </div>
    </div>
</div>
