<div class="topbar-main">
    <div class="container">
        <div class="logo"> <a href="#" class="logo"> <img src="assets/images/logo-sm.png" alt="" height="30"> </a></div>
        <div class="menu-extras topbar-custom">
        <!--  <div class="search-wrap" id="search-wrap">
            <div class="search-bar"> <input class="search-input" type="search" placeholder="Search" /> <a href="#" class="close-search toggle-search" data-target="#search-wrap"> <i class="mdi mdi-close-circle"></i> </a></div>
            </div> -->
                
            <ul class="list-inline float-right mb-0">
                <div style="color:RGB(255,255,255); font-size:20px; display:inline; font-weight:bold;">Sistema de Control de Hogares y Adulto Mayor</div>
                <!-- <li class="list-inline-item dropdown notification-list"> <a class="nav-link waves-effect toggle-search" href="#" data-target="#search-wrap"> <i class="mdi mdi-magnify noti-icon"></i> </a></li> -->
                <li class="list-inline-item dropdown notification-list hidden-xs-down"> <a class="nav-link waves-effect" href="#" id="btn-fullscreen"> <i class="mdi mdi-fullscreen noti-icon"></i> </a></li>
                <li class="list-inline-item dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> <i class="ion-ios7-bell noti-icon"></i> <span class="badge badge-danger noti-icon-badge">3</span> </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                        <div class="dropdown-item noti-title"><h5>Notification (3)</h5></div>
                        <a href="javascript:void(0);" class="dropdown-item notify-item active">
                            <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                            <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                            <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 87 unread messages</small></p>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                            <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact that a reader will</small></p>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item notify-item"> View All </a>
                    </div>
                </li>
                <li class="list-inline-item dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> <img src="assets/images/users/user08.png" alt="user" class="rounded-circle"> </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <a class="dropdown-item" href="#"><i class="dripicons-user text-muted"></i> Perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="cerrar-sesion.php"><i class="dripicons-exit text-muted"></i> Salir</a>
                    </div>
                </li>
                <li class="menu-item list-inline-item">
                    <a class="navbar-toggle nav-link">
                        <div class="lines"> <span></span> <span></span> <span></span></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
