<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                <div class="btn-group pull-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active">Registro</li>
                        <li class="breadcrumb-item active">
                                <a  name="btneliminar" class="btn btn-primary btn-sm get-code" href="fichasocioeconomica_insertar.php" style="color: white;"><i class="fa fa-plus-circle" title="Nuevo Registro" data-toggle="tooltip"> Nuevo Registro</i></a>
                            </li>
                    </ol>
                </div>
                <h4 class="page-title">Listado de Registros de Ficha SocioEconómica</h4>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-lg-12">
                <div class="card m-b-20">
                <div class="card-block">
                    <!-- <h4 class="mt-0 header-title">Default Tabs</h4>-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Lista de Registros</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active p-3" id="home" role="tabpanel">
                        <table id="table_encuestas" class="table table-striped table-bordered display" width="100%">
                        </table>
                        <form name="form_editar" id="form_editar" action="./fichasocioeconomica_insertar.php?oper=editar" method="POST">
                            <input type="hidden" name="id_pgh" id="id_pgh" value="" />
                            <input type="submit" id="btn_editar" name="btn_editar" value="enviar" style="display:none;" />
                        </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>            
</div>
